/* Háttér */
body {
  background: url("../IMG/hatterek/About.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body .container {
  margin: 0;
  position: absolute;
  top: 15%;
  left: 15%;
  color: rgba(255,255,255,0.8);
  -webkit-text-stroke: 0.2px black;
  background-color: rgba(20,20,20,0.5);
  width: 70%;
}

body .sor {
  display: block;
  text-align: center;
}

body .oszlop {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

body .oszlop img {
  position: relative;
  align-self: center;
  vertical-align: middle;
  width: 50%;
}

body .oszlop p {
  margin: 1rem 25%;
  text-align: left;
}

@media (min-aspect-ratio: 16/10) {
  body .container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  body .sor {
    display: flex;
    overflow: auto;
    justify-content: center;
    align-items: center;
  }

  body .oszlop {
    margin: 0 1rem;
    font-size: 2vw;
    width: 33%;
    overflow: auto;
  }

  body .oszlop p {
    margin: 1rem;
  }

  body .oszlop img {
    position: relative;
    align-self: center;
    vertical-align: middle;
    width: 80%;
  }
}
